<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DesktopBannerCountdown.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <DesktopBannerCountdown.Properties.Settings>
            <setting name="TitleTextA" serializeAs="String">
                <value>距离高考还有|天</value>
            </setting>
            <setting name="TitleFontFamily" serializeAs="String">
                <value>微软雅黑</value>
            </setting>
            <setting name="TitleFontSize" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="TitleForeground" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="CounterFontFamily" serializeAs="String">
                <value>Circular Sp UI T Bold</value>
            </setting>
            <setting name="CounterFontSize" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="CounterNormalForeground" serializeAs="String">
                <value>#FF169141</value>
            </setting>
            <setting name="DestinationDateA" serializeAs="String">
                <value>06/06/2022 08:00:00</value>
            </setting>
            <setting name="DestinationDateB" serializeAs="String">
                <value>06/08/2022 15:00:00</value>
            </setting>
            <setting name="TitleTextB" serializeAs="String">
                <value>距离解放还有|天</value>
            </setting>
            <setting name="DecimalPlaces" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="WindowBorderBrush" serializeAs="String">
                <value>#99808080</value>
            </setting>
            <setting name="WindowBorderThickness" serializeAs="String">
                <value>1,1,1,5</value>
            </setting>
            <setting name="WindowCornerRadius" serializeAs="String">
                <value>10,10,10,10</value>
            </setting>
            <setting name="CounterDecimalFontSize" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="CounterEmergencyForeground" serializeAs="String">
                <value>#FFFF0000</value>
            </setting>
            <setting name="SwitchByLeftClick" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SwitchByDoubleClick" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TopMost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowBackground" serializeAs="String">
                <value>#99E9E9E9</value>
            </setting>
            <setting name="CounterDecimalWidth" serializeAs="String">
                <value>210</value>
            </setting>
            <setting name="WindowPadding" serializeAs="String">
                <value>25,10,25,10</value>
            </setting>
            <setting name="EmergencyDays" serializeAs="String">
                <value>30</value>
            </setting>
        </DesktopBannerCountdown.Properties.Settings>
    </userSettings>
</configuration>